/* 背景と文字の色 */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

/* ボタンの見た目 */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
h2{
  color: aliceblue;
}